@media (max-width: 720px) {
    #menu span {
        display: none;
    }
    #info {
        margin-left: 3.7%;
    }
    #info a .botao{
        transform: scale(1.3);
        margin-left: 20px;
    }
    main {
        flex-direction: column;
    }
    #section1 {
        width: 100%;
    }
    #section1 h2{
        margin-top: 0px;
        font-size: 60px;
    }
    #section2 {
        display: none;
    }
    #down {
        display: none;
    }
    footer {
        flex-direction: column;
        height: 450px;
    }
}