@media (max-width: 720px) { /* -- CELULAR -- */
    #menu span {
        display: none;
    }
    #info {
        margin-left: 3.7%;
    }
    #info a .botao{
        transform: scale(1.3);
        margin-left: 20px;
    }
    #info p {
        font-size: 15px;
        border-right: 0px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
        animation: none;
    }
    main {
        flex-direction: column;
    }
    #section1 {
        width: 100%;
    }
    #section1 h2{
        height:500px;
        margin-top: 0px;
        font-size: 65px;
    }
    #section2{
        display: none;
    }
    footer {
        flex-direction: column;
        height: 450px;
    }
}

@media (max-width: 890px) {
    #section1 h2{
        height: 700px;
        margin-top: 0px;
        font-size: 80px;
    }
}

@media (max-width: 425px) {
    #section1 h2 {
        font-size: 70px;
    }
    section {
        margin-top: 60px;
    }
}

@media (max-width: 1220px) {
    .newsletter {flex-direction: column; height: 380px;}

    .newsletter h1 {
        font-size: 25px; 
        max-width: 300px; 
        text-align: center;
        margin-left: 85px;
        margin-bottom: 50px;
    }

    .form-box {width: fit-content;}
    .form-box input {width: 400px;}
}

@media (max-width: 705px) {
    #coluna {width: 200px;}
    .newsletter {
        width: 100%;
        margin-left: 0;
    }
    .form-box input {width: 204px;}
}

@media (max-width: 375px) {
    .form-box button {color: white; margin-left: 25%;}
    .form-box input {width: 150px; padding: 10px 10px;}
}