
* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 61);
}

#slideshow {
  background-image: url("../imgs/slideshow.jpg");
  background-size: cover;
  height: 98vh;
}

#logo img {
  width: 130px;
  padding: 20px;
  margin-top: 10px;
}

#menu {
  position: fixed;
  display: flex;
  right: -150px;
  padding: 30px;
  align-items: center;
  padding-inline: 150px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  z-index: 3;

}
#menu .bloco img {
  padding: 10px;
  margin-inline: 25px;
  width: 70px;
  top: 30px;
  background-color: rgb(62, 126, 236);
  transition: 200ms ease-in-out;
  cursor: pointer;
  transform: rotate(3.142rad);
}
#menu .bloco img:hover {
  background-color: rgb(132, 187, 255);
}

#info {
  position: absolute;
  margin-left: 10%;
  bottom: 35%;
}
#info h1 {
  font-size: 80px;
  font-family: 'Kanit', sans-serif;
}
#info p {
  font-size: 30px;
  font-family: monospace;
  border-right: 3px solid;
  width: 41ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(41), blinking 0.5s infinite step-end alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 41ch;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

#info a {
  text-decoration: none;
  color: white;
}
#info .botao {
  display: flex;
  height: 65px;
  width: 160px;

  font-size: 20px;
  text-align: center;

  margin-top: 55px;
  padding: 15px;

  border-radius: 35px;
  border-style: solid;
  
  transition: 300ms ease-in-out;
  font-family: "Kanit", sans-serif;
}

#info .botao:hover {
  background-color: rgb(40, 107, 173);
  width: 200px;;
  border-radius: 10px;
  padding-left: 40px;
}

#info .botao img {
  margin-top: 2px;
  margin-left: 15px;
  filter: invert(1);
  height: 25px;
}

#coluna {
  background-color: rgb(62, 126, 236);
  width: 250px;
  height: 450px;
  display: flex;
  position: fixed;
  right: 0;
  margin-right: 25px;
  border-radius: 5px;
  display: none;
  animation: coluna-animation 500ms ease-in-out;
  z-index: 4;
}
#coluna.back {
  background-color: rgb(62, 126, 236);
  width: 250px;
  height: 450px;
  display: flex;
  position: fixed;
  right: -300px;
  margin-right: 25px;
  border-radius: 5px;

  animation: coluna-voltar 500ms ease-in-out;
}
@keyframes coluna-animation {
  from {
    right: -300px;
  }
  to {
    right: 0;
  }
}
@keyframes coluna-voltar {
  from {
    right: 0;
  }
  to {
    right: -300px;
  }
}

#down {
  position: absolute;
  display: flex;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
#down span {
  font-size: 15px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: flex;
  justify-content: center;
}
#down a {
  display: flex;
  justify-content: center;
}

#down a img {
  height: 25px;
  filter: invert(1);
  cursor: pointer;
  transition: 100ms ease-in-out;
}

main {
  display: flex;
  height: 750px;
  transition: 500ms ease-in-out;
}
#section1 {
  background-color: white;
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
}

#section2 {
  background-color: black;
  width: 40%;
  height: 100%;
  right: 0;
  background-image: url("../imgs/section2.jpg");
  transition: 2s ease-in-out;
}

#section1 #texto {
  margin: 30px;
  word-wrap: break-word;
  
}

#section1 h2 {
  color: rgb(45, 31, 167);
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
}

/*SECTION*/
.sanfona {
  margin-top: 30px;
  height: 500px;
  display: flex;
  align-items: center;
}

/* NEWSLATTER */
.newsletter {
  width: 80%;
  height:200px;
  background-color: #0056A8;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;
  margin-left: 10%;
}

.newsletter h1 {
  font-size: 30px;
  max-width: 270px;
  font-weight: bold;
  margin-right: 100px;
}

.form-box {
  background-color: rgb(255, 255, 255);
  height: 60px;
}

.form-box input {
  height: 60px;
  width: 430px;
  outline: none;
  border: none;
  padding: 10px 20px;
}

.form-box button {
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #10395f;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


/* FOOTER */
footer {
  background-color: #162141;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#siga h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;  
}

#siga ul {
  display: flex;
  list-style: none;
}

#siga ul li {
  padding-inline: 20px;
  padding-left: 0;
}

#siga ul li img {
  filter: invert(1);
  width: 30px;
  transition: 200ms ease-in-out;
}

#siga ul li img:hover {
  filter: invert(0);
}

#logo2 img{
  width: 100px;
}
#logo2 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 15px;
  text-align: center;
}

.container {
  z-index: 1;
}



/* MAIN ANIMAÇÃO */
.white {
    height: 98vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.squares {
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.square {
    -webkit-animation: squares 9.5s linear infinite;
    animation: squares 9.5s linear infinite;
    align-self: flex-end;
    width: 1em;
    height: 1em;
    transform: translateY(100%);
    background: #5c8cf3;
}
.square:nth-child(2) {
    height: 1.5em;
    width: 3em;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
    -webkit-filter: blur(5px);
}
.square:nth-child(3) {
  height: 2em;
  width: 1em;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-filter: blur();
}
.square:nth-child(4) {
  height: 1em;
  width: 1.5em;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-filter: blur(3px);
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}
.square:nth-child(5) {
  height: 1.25em;
  width: 2em;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-filter: blur(2px);
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}
.square:nth-child(6) {
  height: 2.5em;
  width: 2em;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-filter: blur(1px);
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}
.square:nth-child(7) {
  height: 5em;
  width: 2em;
  -webkit-filter: blur(2.5px);
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
.square:nth-child(8) {
  height: 1em;
  width: 3em;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-filter: blur(6px);
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}
.square:nth-child(9) {
  height: 1.5em;
  width: 2em;
  -webkit-filter: blur(0.5px);
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}
.square:nth-child(9) {
  height: 3em;
  width: 2.4em;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-filter: blur(0.5px);
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

@-webkit-keyframes squares {
  from {
    transform: translateY(100%) rotate(-50deg);
  }
  to {
    transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes squares {
  from {
    transform: translateY(100%) rotate(-50deg);
  }
  to {
    transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}