body {
    height: 100vh;
    background: linear-gradient(-45deg, rgb(75, 83, 132), #0e2be6, #5eb1d0, #25273b);
    background-size: 400% 400%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#voltar {
    color: white;
    font-size: 50px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

#voltar:hover {
    transform: scale(1.2);

}

#bloco {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    margin-right: 270px;
    box-shadow: rgba(0, 0, 0, 0.332) 1px 1px 16px 3px;
    padding: 70px 15px;
}

button:hover {
    background-color: rgba(142, 171, 219, 0.39);
}

#info h1 {
    font-size: 30px;
    color: white;
}

@media (max-width: 1160px) {
    body {
        flex-direction: column;
    }
    #bloco {
        margin-right: 0;
    }
}

@media (max-width: 442px) {
    #bloco {
        width: 300px;
        height: 450px;
    }
    #info h1 {
        margin-top: 100px;
        font-size: 20px;
    }
}

